.button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #0073e6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color: #005bb5;
  transform: translateY(-2px);
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.button.primary {
  background-color: #0073e6;
}

.button.secondary {
  background-color: #4fc3f7;
}

.button.danger {
  background-color: #e60000;
}

/* Custom Bordered Button */
.button.bordered {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  margin-left: 2rem;
}
.button.bordered-hero-btn {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.button.bordered-hero-btn:hover {
  background-color: transparent;
  border: 2px solid #0073e6;
  font-weight: 300;
  color: #fff;
}
.button.bordered:hover {
  background-color: #0073e6;
  color: #fff;
}

@media (max-width: 768px) {
  /* Custom Bordered Button */
  .button.bordered {
    background-color: #0073e6;
    color: #fff;
    margin-left: 1rem;
  }
}
