.featuredListContainer {
  /* background-color: var(--foreground-color); */
  padding: 2rem;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.evenProject {
  flex-direction: row;
}

.oddProject {
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .evenProject,
  .oddProject {
    flex-direction: column;
  }
}
