/* hero.module.css */

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  min-height: 500px;
  width: 100%;
  overflow: hidden;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
  line-height: 1.2;
  padding: 2rem;

  z-index: 1;
}
.heroContainer p {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  color: var(--primary-text-color);
}

.heroImgBox {
  position: relative;
  max-width: 320px;
  width: 100%;
  height: 320px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.1),
    0 0 40px 10px rgba(255, 255, 255, 0.1),
    0 0 50px 20px rgba(255, 255, 255, 0.1);
}

.heroImgBox::before {
  content: "";
  position: absolute;
  inset: -10px 140px;
  background: linear-gradient(315deg, #00ccff, #dd00d4);
  transition: 0.5s;
  animation: animate 20s linear infinite;
}

.heroImgBox:hover::before {
  inset: -20px 0px;
}

.heroImgBox::after {
  content: "";
  position: absolute;
  inset: 6px;
  background-color: rgba(58, 96, 115);
  border-radius: 50%;
  z-index: 1;
}

.imgBoxContent {
  position: absolute;
  inset: 30px;
  border: 4px solid #070a1c;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.imgBoxContent img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
}

.heroImgBox:hover .imgBoxContent img {
  opacity: 0;
}

.imgBoxContent h2 {
  position: relative;
  font-size: 0.8rem;
  text-align: center;
  color: white;
  font-weight: 300;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.imgBoxContent a {
  position: relative;
  margin-top: 10px;
  padding: 0.5rem 0.7rem;
  background-color: white;
  color: var(--secondary-text-color);
  border-radius: 25px;
  font-weight: 500;
  font-size: 1.25;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  text-decoration: none;
  transition: 0.5s;
}

.imgBoxContent a:hover {
  letter-spacing: 0.5rem;
}

.heroTitle {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 0;
  background: var(--text-color-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.heroDescription {
  margin: 0.4rem 0 5rem 0;
  display: flex;
  gap: 1.5rem;
}

.heroDescription span {
  position: relative;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
  color: #0b5b66;
  border-radius: 25px;
  background: linear-gradient(to right, #1bd3eb, #d6e7eb);
  z-index: 1;
  overflow: hidden;
}

.heroDescription span::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(to right, #1bd3eb, #ffffff);
  z-index: -1;
  border-radius: 25px;
  animation: shine 3s linear infinite;
}

@keyframes shine {
  0% {
    transform: translateX(-100%) translateY(-100%);
  }
  100% {
    transform: translateX(100%) translateY(100%);
  }
}

.btn {
  background-color: transparent;
  color: var(--primary-text-color);
  width: 200px;
  padding: 0.75rem 1.5rem;
  border: 2px solid var(--primary-text-color);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 200;
  font-size: 1.02rem;
  transition: background 0.8s ease, border-color 0.3s ease, color 0.3s ease,
    box-shadow 0.3s ease;
}

.btn:hover {
  background: linear-gradient(to right, #1bd3eb, #ffffff);
  color: #0b5b66;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    height: auto;
  }

  .heroContainer {
    max-width: 100%;
    margin: 2rem;
    padding: 0 1.5rem;
    text-align: center;
    align-items: center;
  }

  .heroTitle {
    font-size: 2.5rem;
  }

  .heroImgBox {
    max-width: 280px;
    height: 280px;
  }
  .heroImgBox::before {
    inset: -4px 100px;
  }

  .heroDescription {
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }

  .btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 1rem 0.5rem;
    height: auto;
  }

  .heroTitle {
    font-size: 2rem;
  }

  .heroDescription {
    flex-direction: column;
    font-size: 1rem;
  }

  .heroImgBox {
    max-width: 220px;
    height: 220px;
  }

  .heroImgBox::before {
    inset: -4px 100px;
  }

  .imgBoxContent h2 {
    font-size: 0.4rem;
    letter-spacing: 0.1rem;
  }

  .imgBoxContent a {
    padding: 0.2rem 0.4rem;
    border-radius: 20px;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
  }

  .btn {
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* .imgBoxContent img.grayscale {
  filter: grayscale(50%);
} */
