.titleHeader {
  text-align: center;
  margin-bottom: 1.5rem;
}

.titleHeader {
  font-size: 1.4rem;
  font-weight: 600;
  background: var(--text-color-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* margin-bottom: 2rem; */
  text-align: center;
  position: relative;
}

.titleHeader::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 3px;
  background: linear-gradient(to right, #1bd3eb, transparent);
  border-radius: 2px;
}

@media (max-width: 480px) {
  .titleHeaderTitle {
    font-size: 1.4rem;
  }
}
