.titleHeader {
  text-align: center;
  margin-bottom: 2rem;
}

.titleHeaderTitle {
  color: var(--secondary-text-color);
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.titleHeaderIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleHeaderLine {
  width: 50px;
  height: 1px;
  background-color: var(--secondary-text-color);
  margin: 0 10px;
}

.titleHeaderIcon {
  width: 30px;
  height: 30px;
}

svg {
  color: var(--primary-blue-color);
}

@media (max-width: 480px) {
  .titleHeaderTitle {
    font-size: 1.4rem;
  }
}
