.about {
  padding: 4rem 2rem;
  /* background: var(--foreground-color); */
  color: var(--secondary-text-color);
}

.title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--secondary-text-color);
}

.aboutContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: start;
}

.aboutHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.aboutImageContainer {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.aboutImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.aboutImageContainer:hover .aboutImage {
  transform: scale(1.05);
}

.aboutTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.aboutName {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0;
  color: var(--secondary-text-color);
}

.aboutTitle {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--secondary-text-color);

  margin-top: 0.5rem;
}

.aboutContent {
  background-color: var(--primary-white-color);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
}

.aboutContent:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.aboutIntro {
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.highlight {
  font-weight: 700;
  color: #3182ce;
}

.aboutDescription,
.aboutMotivation {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: var(--secondary-text-color);

  line-height: 1.6;
}

.aboutSkills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.aboutSkillsTitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--secondary-text-color);

  margin-bottom: 1rem;
  text-align: center;
}

.aboutSkillsList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.skillItem {
  display: flex;
  font-family: monospace;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--primary-white-color);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.2s ease, background-color 0.2s ease;
  cursor: pointer;
  width: 120px;
  text-align: center;
}

.skillItem:hover {
  transform: translateY(-4px);
  background-color: var(--primary-white-color);
}

.skillName {
  font-size: 0.9rem;
  color: var(--secondary-text-color);

  font-weight: 500;
}

.skillItem svg {
  color: var(--primary-blue-color);
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .aboutContainer {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .aboutHeader,
  .aboutContent {
    text-align: center;
  }

  .aboutContent {
    margin-top: 2rem;
  }

  .aboutSkills {
    margin-top: 2rem;
    margin-right: 2rem;
  }
}

@media (max-width: 480px) {
  .aboutSkills {
    margin-right: 5rem;
    padding-right: 2rem;
  }
}
