/* Base Styles for Social Media Icons Component */
.socialMediaIcons {
  position: fixed;
  top: 40%;
  right: 3%;

  transform: translateY(-50%);
  z-index: 100;
}

.socialMediaIcons ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.socialMediaIcons li {
  margin: 0.5rem 0;
  transition: transform 0.3s ease, background 0.3s ease;
}

.socialMediaIcons li:hover {
  transform: translateX(-10px); /* Icons slide out to the left */
}

.socialMediaIcons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* background: linear-gradient(165deg, #003099 0, #3a3dff 100%); */
  color: var(--primary-text-color);
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.socialMediaIcons a:hover {
  background: var(--primary-white-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

/* Icon Sizes and Responsiveness */
.socialMediaIcons svg {
  width: 20px;
  height: 20px;
  color: var(--primary-blue-color);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .socialMediaIcons {
    top: 30%;
  }

  .socialMediaIcons {
    top: 80%;
    right: 0;
  }

  .socialMediaIcons a {
    width: 35px;
    height: 35px;
  }
}
