.bioDataTable {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem 0;
  color: var(--primary-text-color);
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  font-weight: 200;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.label {
  letter-spacing: 1.1px;
  font-weight: 400;
  color: var(--primary-text-color);
}

@media (max-width: 480px) {
  .bioDataTable {
    width: 300px;
  }
}
