.themeToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.themeIcon {
  width: 24px;
  height: 24px;
}

.sun {
  color: #f6ad55;
}

.moon {
  color: #4a5568;
}
