:root {
  --hero-background-color: #5c6cfe;
  --hero-bg: rgb(0, 136, 255);
  --background-primary-color: #f3f6f8;
  --primary-text-color: #f3f6f8;
  --secondary-text-color: #1a202c;
  --primary-white-color: #ffffff;
  --primary-blue-color: #001099;
  --bg-tag: #7b7b7b;

  --primary-light-blue-color: #4792de;
  --accent-color: rgb(128, 68, 0);
}

/* // dark theme */
[data-theme="dark"] {
  --hero-background-color: linear-gradient(
      to bottom right,
      #282828 15%,
      transparent
    ),
    radial-gradient(
        circle at 100% 0%,
        rgba(255, 255, 255, 0.2) 10%,
        transparent 20%
      )
      center center / 15px 15px,
    linear-gradient(to bottom right, #282828, #1a1a1a),
    radial-gradient(
        circle at 10% 20%,
        rgba(255, 255, 255, 0.5) 1px,
        transparent 1px
      )
      repeat,
    radial-gradient(
        circle at 30% 40%,
        rgba(255, 255, 255, 0.5) 1px,
        transparent 1px
      )
      repeat,
    radial-gradient(
        circle at 50% 60%,
        rgba(255, 255, 255, 0.5) 1px,
        transparent 1px
      )
      repeat,
    radial-gradient(
        circle at 70% 80%,
        rgba(255, 255, 255, 0.5) 1px,
        transparent 1px
      )
      repeat;
  --hero-bg: var(--hero-background-color);
  --background-primary-color: #282828;
  --primary-text-color: #f3f6f8;
  --secondary-text-color: #f3f6f8;
  --primary-white-color: #3f3f3f;
  --primary-blue-color: #fcfcff;
  --primary-light-blue-color: #4792de;
  --accent-color: rgb(128, 38, 0);
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}

a {
  cursor: pointer;
}
