/* Global Reset and Base Styles */
body,
html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 100%;

  margin: 0;
  padding: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Typography */
/* h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  margin: 0 0 0.5rem 0;
  font-weight: 600;
}

p {
  margin: 0 0 1rem 0;
  color: rgba(255, 255, 255, 0.75);
} */

/* Buttons */
/* button {
  font-family: inherit;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #1abc9c;
  color: #fff;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #16a085;
} */

/* General Layout */
/* .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
} */

/* .section {
  padding: 2rem 0;
} */

/* Utility Classes */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

/* Scrollbar Styles for Dark Theme */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  /* background: #2c2c2c; */
}

::-webkit-scrollbar-thumb {
  /* background: #3b3b3b; */
  /* border-radius: 4px; */
}

::-webkit-scrollbar-thumb:hover {
  /* background: #4b4b4b; */
}
